body{
    background-color: #072c59;
    color: white;
}

#content{
    text-align: center;
    font-size: 40px;
    inp
}

#content button{
    width: 160px;
    height: 40px;
}

#content input[type="text"]{
    height: 40px;
    width: 160px;
}
